/app/src/main/res/values/keys.xml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.class
*.trace
*.log
*/build
/app/google-services.json
/app/fabric.properties
/app/src/main/res/values/google_maps_api.xml
/app/src/google-services.json
/.idea
google_maps_api.xml