<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/appName">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.NotificationPopup"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SilenterPrompt"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <service android:name=".OngoingNotificationsService" />

        <service android:name=".alarm.AlarmService" />

        <receiver android:name=".alarm.AlarmService$StopAlarmPlayerReceiver" />
        <receiver android:name=".alarm.SilenterReceiver" />
        <service android:name=".LocationService" />
    </application>

</manifest>