<!--
  ~ Copyright (c) 2013-2023 Metin Kale
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="com.metinkale.prayer.Application"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:noHistory="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:targetApi="n">
        <activity android:name=".ShortcutActivity" />

        <activity-alias
            android:name=".aliasDefault"
            android:exported="true"
            android:label="@string/appName"
            android:logo="@mipmap/ic_launcher"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity-alias
            android:name=".aliasAR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameAR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasAZ"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameAZ"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasBA"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameBA"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasBS"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameBS"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasHR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameHR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasCS"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameCS"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasDA"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameDA"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasNL"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameNL"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasEN"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameEN"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasFR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameFR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasDE"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameDE"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasID"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameID"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasKU"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameKU"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasMS"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameMS"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasFA"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameFA"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasRU"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameRU"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasES"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameES"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasTR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameTR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasUK"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameUK"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasUR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameUR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <receiver
            android:name="com.metinkale.prayer.AppBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>