<!--
  ~ Copyright (c) 2013-2026 Metin Kale
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />


    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="com.metinkale.prayer.Application"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:localeConfig="@xml/locales_config"
        android:noHistory="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">


        <meta-data android:name="io.sentry.dsn" android:value="@string/SENTRY_DSN" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="0.0" />
        <meta-data android:name="io.sentry.auto-init" android:value="true" />
        <meta-data android:name="io.sentry.debug" android:value="${sentryDebug}" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/FILE_PROVIDER_AUTHORITIES"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".times.MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/appName">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".times.fragments.NotificationPopup"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".times.SilenterPrompt"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <service
            android:name=".times.OngoingNotificationsService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground-Service needed to update the countdown in the notification every minute while the screen is on. If the user does not use the notification-widget feature, no foreground-service is started." />
        </service>

        <service
            android:name=".times.alarm.AlarmService"
            android:foregroundServiceType="mediaPlayback" />

        <receiver android:name=".times.alarm.AlarmService$StopAlarmPlayerReceiver" />
        <receiver android:name=".times.alarm.SilenterReceiver" />


        <activity
            android:name=".dhikr.MainActivity"
            android:label="@string/dhikr"
            android:logo="@mipmap/ic_dhikr"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".missedprayers.MainActivity"
            android:label="@string/missedPrayers"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".names.MainActivity"
            android:icon="@mipmap/ic_names"
            android:label="@string/names"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".settings.MainActivity"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.BackupRestoreActivity"
            android:label="@string/backupRestore" />

        <activity
            android:name=".hadith.MainActivity"
            android:icon="@mipmap/ic_hadith"
            android:label="@string/hadith"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tesbihat.MainActivity"
            android:icon="@mipmap/ic_tesbihat"
            android:label="@string/tesbihat"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calendar.MainActivity"
            android:icon="@mipmap/ic_calendar"
            android:label="@string/calendar"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
        </activity>
        <activity
            android:name=".compass.MainActivity"
            android:label="@string/compass"
            android:logo="@mipmap/ic_compass"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".about.MainActivity"
            android:label="@string/about"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <activity
            android:name=".intro.MainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".ShortcutActivity" />

        <activity-alias
            android:name=".aliasDefault"
            android:exported="true"
            android:label="@string/appName"
            android:logo="@mipmap/ic_launcher"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity-alias
            android:name=".aliasAR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameAR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasAZ"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameAZ"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasBA"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameBA"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasBS"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameBS"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasHR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameHR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasCS"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameCS"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasDA"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameDA"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasNL"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameNL"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasEN"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameEN"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasFR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameFR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasDE"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameDE"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasID"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameID"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasKU"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameKU"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasMS"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameMS"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasFA"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameFA"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasRU"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameRU"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasES"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameES"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasTR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameTR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasUK"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameUK"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".aliasUR"
            android:enabled="false"
            android:exported="true"
            android:label="@string/appNameUR"
            android:targetActivity=".ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <receiver
            android:name="com.metinkale.prayer.AppBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>





        <service
            android:name="com.metinkale.prayerapp.vakit.WidgetService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground-Service needed to update the countdown in the widgets every minute while the screen is on. If the user does not use widgets, no foreground-service is started." />
        </service>

        <activity
            android:name="com.metinkale.prayerapp.vakit.WidgetConfigure"
            android:exported="true"
            android:label="Configure Widget"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.metinkale.prayerapp.vakit.WidgetConfigureSilenter"
            android:exported="true"
            android:label="Configure Widget"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.metinkale.prayerapp.vakit.WidgetConfigureClock"
            android:exported="true"
            android:label="Configure Widget"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <receiver
            android:name="com.metinkale.prayerapp.vakit.WidgetProvider"
            android:exported="true"
            android:label="@string/widgetLabel">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vakit_widget" />
        </receiver>
        <receiver
            android:name="com.metinkale.prayerapp.vakit.WidgetProviderClock"
            android:exported="true"
            android:label="@string/widgetClock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vakit_widget_clock" />
        </receiver>
        <receiver
            android:name="com.metinkale.prayerapp.vakit.WidgetProviderClock2"
            android:exported="true"
            android:label="@string/widgetClock2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vakit_widget_clock2" />
        </receiver>
        <receiver
            android:name="com.metinkale.prayerapp.vakit.WidgetProviderLong"
            android:exported="true"
            android:label="@string/widgetLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vakit_widget_long" />
        </receiver>
        <receiver
            android:name="com.metinkale.prayerapp.vakit.WidgetProviderSmall"
            android:exported="true"
            android:label="@string/widgetSmall">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vakit_widget_small" />
        </receiver>
        <receiver
            android:name="com.metinkale.prayerapp.vakit.WidgetProviderSilenter"
            android:exported="true"
            android:label="@string/widgetSilenter">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vakit_widget_silenter" />
        </receiver>
    </application>
</manifest>